doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='css/thome.css')
        title taho's page
    body
        header
        block content
        footer
